header {
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: end;
  padding-inline: 2rem;
}

.section-links {
  display: flex;
  align-items: center;
  column-gap: 12px;

  p {
    cursor: pointer;
    color: #fff;

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }
  }

  .section-icon {
    display: flex;
    align-items: center;
    column-gap: 4px;
    cursor: pointer;

    .i {
      color: #fff;
    }

    &:hover {
      transform: scale(1.1);
      transition: all 0.3s ease-in-out;
    }

    p {
      &:hover {
        transform: scale(1);
      }
    }
  }
}
img {
  width: 150px;
}
