<header>
  <img src="png/logo.png" alt="Logo" (click)="gotoHome()" />
</header>
<div class="container">
  <form class="form-login">
    <h1>Que bom ter você aqui!</h1>
    <p>Entre e aproveite o melhor do Be Fast</p>
    <div class="section-input">
      <label for="email" style="margin-bottom: 3px">Digite seu Email</label>
      <input type="email" id="email" name="email" />
      <label for="password" style="margin-top: 1rem; margin-bottom: 3px"
        >Digite sua senha</label
      >
      <input type="password" id="password" name="password" />
      <button>Entrar</button>
    </div>
    <p class="cadastre-se">
      Não tem conta? <a (click)="goToCadastro()">Cadastre-se</a>
    </p>
    <div class="separator-container">
      <div class="separator"></div>
      <span class="separator-text">ou</span>
      <div class="separator"></div>
    </div>

    <button class="google-login">
      <img src="svg/google.svg" alt="Google" />
      <span>Entrar com Google</span>
    </button>
  </form>
</div>
