.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/jpg/rubik_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100%;

  img {
    width: 180px;
    margin-left: 1rem;
  }
}

.backToLogin {
  display: flex;
  align-items: center;
  background-color: #fff;
  color: #000;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  position: absolute;
  top: 100px;
  left: 30px;
  gap: 4px;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-top: 3.5rem;

  h1 {
    color: #000;
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
}

.section-input {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 1rem;
  width: 100%;

  label {
    margin: 5px 0 4px 0;
  }

  input {
    background-color: transparent;
    padding: 0.7rem;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 12px;
    cursor: pointer;
    margin-top: 1rem;

    &:hover {
      opacity: 0.9;
    }
  }
}
