<header>
  <img src="png/logo.png" alt="Logo" />
</header>
<button class="backToLogin" (click)="backToLogin()">
  <mat-icon>arrow_back </mat-icon>
  VOLTAR
</button>
<div class="container">
  <form class="form-login">
    <h1>Que bom ter você aqui!</h1>
    <p>Entre e aproveite o melhor do Be Fast</p>
    <div class="section-input">
      <label for="email" style="margin-bottom: 3px"
        >Digite seu nome completo</label
      >
      <input type="text" />
      <label for="password" style="margin-top: 1rem; margin-bottom: 3px"
        >Digite sua senha</label
      >
      <input type="password" id="password" name="password" />
      <button>Entrar</button>
    </div>
  </form>
</div>
