<div class="container">
  <div class="section-left">
    <img src="png/logo.png" alt="Logo" />
  </div>
  <div class="section-right">
    <app-header></app-header>
    <div class="section-content">
      <h1>Be Fast</h1>
      <p>
        Be Fast é um aplicativo que ajuda você a se manter em forma e a alcançar
        seus objetivos. Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Inventore obcaecati nostrum dignissimos accusantium vel similique
        excepturi facilis dolores nemo eligendi dolorum molestiae adipisci nobis
        delectus, recusandae cupiditate! Aperiam, neque officia.
      </p>
      <button>Saiba mais</button>
    </div>
  </div>
</div>
